@import url(/styles/themes/components/fab.css);
@import url(/styles/themes/components/sizingNavbar.css);
@import url(/styles/documentation.css);

@font-face {
    font-family: "vcr";
    src: url("/styles/fonts/vcr-osd-mono/VCR_OSD_MONO.ttf")
}

@font-face{
    font-family: "special";
    src: url("/styles/fonts/johnny-fever.regular.otf")
}

body{
    font-family: vcr;
    background-image: linear-gradient(to bottom, rgb(129, 129, 129,0.2) 0%, rgba(129, 129, 129, 0.2)100%), url(/images/1980s/gltch.gif) !important;
    color: white;
    background-size: 80vh;
    cursor: url("/images/icons/curs.png"), auto !important;
}

button{
    color: white;
}

.btn:hover, a:hover, .fab:hover, .sub-button:hover, .fadedbox:hover, button:hover,#info-disclaimer:hover, #info-btn:hover{
    cursor: url("/images/icons/pointer.png"), pointer !important;
}
.scrollspy{
    height: 85vh;
}
/*LINKS, SELECTION, CODE*/
::selection{
    color: white;
    background-color: #91387a;
}

a{
    color: #d47e1c;
    text-shadow: 4px -4px 10px #91387a,-4px 4px 10px #3d10b9;
}

a:hover{
    color: #ff8800;
}

code{
    color: #e792d0;
}

/*NAVBAR*/
.navbar{
    background-image: url(/images/1980s/vhs-navb.png);
    background-size: 12vh;
    background-position: bottom;
}

.navbar-brand:hover {
    color: #ffc290 !important;
}

.navbar-brand{
    color: white !important;
    font-size: 26pt !important;
    text-transform: uppercase;
    font-family: vcr, vt323, monospace;
    margin-left: 1.5rem;
    text-shadow: 4px -4px 12px #d3d3d3,-4px 4px 12px #bebebe;
}

#capT{
    background-image: url(/images/icons/t-1980s.svg);
    background-size: 5.5vh !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    padding: 2rem;
}

.nav-link{
    line-height: 3vh;
    font-size: 3vh !important;
    font-family: vcr, vt323, monospace;
    color: white !important;
    text-shadow: 4px -4px 10px #d8d8d8,-4px 4px 10px #bebebe;
    text-transform: uppercase;
}

#navbar-documentation{
    background-color: transparent !important;
}

.nav-link.active{
  background-color: transparent !important;
  text-shadow: transparent !important;
  border-color: transparent !important;
  text-shadow: transparent !important;
}

.dropdown-menu{
    background-image: url(/images/1980s/vhs-navb.png);
    background-size: 15vh;
    background-position: top;
    padding-top: 0 !important;
}

.dropdown-item{
    color: white;
    font-family: vcr, vt323, monospace;
    text-transform: uppercase;
    font-size: 3vh;
}

.dropdown-item:hover{
    color: white;
    background-color: #372174; 
}


.modal-header, .modal-footer{
    background-image: url(/images/1980s/vhs-navb.png);
    background-size: 12vh;
    background-position: bottom;
    border: none;
}

.modal-title{
    color: white;
    font-size: 3vh;
    text-transform: uppercase;
}

.modal-footer .btn{
    background-color: transparent !important;
    text-transform: uppercase;
    color: white;
    font-size: 3vh;
    border: none;
}

.modal-body{
    background-image: linear-gradient(to bottom, rgba(30, 19, 49, 0.2) 0%, rgba(34, 33, 36, 0.2)100%), url(/images/1980s/gltch.gif);
    color: white;
    font-size: 2.2vh;
    padding: 1rem;
    text-transform: uppercase;
}
.modal-body p{
    font-size: 2.2vh !important;
    text-align: left;
    padding: 0;
}

/*FIRST*/
#first ::selection{
    background-color: #cc4aab;
}



/*DOCUMENTATION*/
#navbar-documentation{
    background-image: none;
}

#main-background p{
    font-size: 2.5vh !important;
    text-shadow: 4px -4px 10px #d8d8d8,-4px 4px 10px #bebebe;
}

h2, h3, h4, h5, h6{
    text-transform: uppercase;
    text-shadow: 4px -4px 10px #d8d8d8,-4px 4px 10px #bebebe;
}

h3{
    font-size: 4vh;
}

h5{
    font-size: 3vh;
}

#main-background{
    background-image: url(/images/1980s/grid-vhs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200vh;
}

#menu-card{
    background-image: url(/images/1980s/grid-vhs.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size:  200vh;
    border: none;
    height: 87vh;
    overflow: hidden;
}
.col-md-9{
    padding-left: 1rem;
}
#info-btn{
    text-transform: uppercase;
    font-size: 3vh;
    opacity: 0.5;
}
#info-btn:hover{
    opacity: 1;
}

#info-disclaimer .modal-content{
    background-color: black;
}

.modal-footer .btn{
    background-color: black;
    border: none;
    text-transform: uppercase;
}


/*FAB*/
.fab-content, .fab-shadow, .sub-button, .fab{
    background-color: rgb(36, 29, 54)  !important;
    box-shadow: 4px -2px 10px rgba(69, 54, 73, 0.4),-4px 4px 10px rgba(58, 45, 40, 0.4) !important;
}

.fab-container .fab::before {
    display: none;
}

.sub-button:hover{
    background-color: #DE3E38 !important;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 20px;
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #CD3C37;
    border: 2px solid black;
}

::-webkit-scrollbar-track:hover {
    background-color: #DE3E38;
    border: 2px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white !important;
  border: 2px solid black;
  background-position: center;
  background-size: 2vh;
}

::-webkit-scrollbar-button {
    border: 1px solid rgb(10, 10, 10);
    height: 3.5vh;
    width: 2.5vh;
    display:block;
}

::-webkit-scrollbar-button:vertical:increment:start,
::-webkit-scrollbar-button:horizontal:increment:start,
::-webkit-scrollbar-button:vertical:decrement:end{
    display:none;
}

::-webkit-scrollbar-button:vertical:increment{
    background-image: url(/images/1980s/scroll-down.png);
    background-size: 2.3vh;  
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment:active{
    background-image: url(/images/1980s/down-click.png);
}

::-webkit-scrollbar-button:vertical:decrement{
    background-image: url(/images/1980s/scroll-up.png);
    background-size: 2.3vh;  
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:decrement:active{
    background-image: url(/images/1980s/up-click.png);
}

.btn-lmode, .btn-dmode{
    display: none;
}