@import "/typetravel/styles/themes/components/dropdown.css";
@import "/typetravel/styles/themes/components/sizingNavbar.css";
@import "/typetravel/styles/themes/components/fab.css";
@import "/typetravel/styles/documentation.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

body{
    font-family: "cousine", Courier, monospace;
}

/*LINKS, SELECTION, CODE*/
a {
    color: #0096b1;
}
  
a:hover {
    color: #ccf5ff !important;
}

::selection{
    background-color: #83c0cf;
    color: white;
}
  
code{
    color:rgb(17, 120, 138);
}
  
/*NAVBAR*/
.navbar{
    font-family: "cousine", Courier, monospace;
    text-transform: lowercase;
    font-weight: 300;
    background-color: #83c0cf !important;
}
  
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link{
    color: black;
    font-size: 2.3vh;
}

li .nav-item, a.nav-link{
    color: black !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
}

.dropdown-menu{
    background-color: #83c0cf;
}
  
.dropdown-item:hover{
    color: #2d6f80!important;
    background-color: #ccf5ff;
}

.modal-header, .discl-basic .modal-footer{
  background-color: #83c0cf;
}
.modal-title{
  color: black !important;
}

.modal-footer .btn{
  background-color: transparent;
  border: none;
  color: black;
}
.navbar-brand{
  font-family: "montserrat", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 3vh !important;
  letter-spacing: 0.4rem;
  font-weight: bold;
}

#capT{
  background-image: url("/typetravel/images/icons/T-future-light.svg");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
  padding: 2rem;
}

/*DOCUMENTATION*/
  
#menu-card .navbar{
    height: unset !important;
    margin-top: 1rem;
    background-color: #a8ddeb !important;
    font-size: 3vh;
}

#menu-card .navbar-brand,h1,h2,h3,h4,h5,h6{
    font-family: "montserrat", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #83c0cf;
    letter-spacing: 0;
}

#menu-card .nav-link{
    color: rgba(0,0,0,0.5);
    max-width: inherit;
}
#menu-card .navbar-brand{
    color: black;
}
h3{
    font-size: 5vh;
}

h5{
    font-size: 3.5vh;
}

h6{
    font-size: 3vh;
}

.link-section{
    text-decoration: none;
}

.link-section h6:hover{
    color: #ccf5ff !important;
}

.nav-pills .nav-link:hover{
    color: #83c0cf !important;
}

#main-background{
    background-color: #c6e8ee;
    margin-top: 1rem;
}

#main-background{
    height: 85vh !important;
}

#menu-card .nav-link{
    text-transform: uppercase !important;
}

#logo-docu{
    padding: 5vh;
    height: 12vh;
    background-image: url("/typetravel/images/icons/T-basic.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#metadata-docu{
    height: 500px;
    width: 500px;
    background-image: url("/typetravel/images/Documentation/metadata-docu.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#large-docu{
    height: 500px;
    max-width: 800px;
    background-image: url("/typetravel/images/Documentation/large-basic.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

#fab-docu{
    height: 400px;
    width: 180px;
    background-image: url("/typetravel/images/Documentation/fab-basic.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: 20vh;
}

/*FAB*/
.fab-content, .fab-shadow, .sub-button, .fab{
    background-color: #a8ddeb !important;
}
  
.fab-container .fab::before {
    display: none;
}
  
.sub-button:hover{
    background-color: #c6e8ee !important;
}

.btn-lmode, .btn-dmode{
    display: none;
}