@import url("/styles/themes/components/dropdown.css");
@import url("/styles/themes/components/sizingNavbar.css");
@import url("/styles/themes/components/fab.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');


/*BODY*/
body{
  font-family: "cousine", Courier, monospace;
  overflow: hidden;
}

/*LINKS, SELECTION, CODE*/
a {
    color: #0096b1;
}

a:hover {
    color: #ccf5ff !important;
}

::selection{
    background-color: #83c0cf;
    color: black
}

code{
    color:rgb(17, 120, 138);
}

/*DEACTIVATE FUTURE BUTTONS*/
#enable-futurelight{
    display: none;
}

#enable-futuredark{
    display: none;
}

/*NAVBAR*/
.navbar{
    font-family: "cousine", Courier, monospace;
    text-transform: lowercase;
    font-weight: 300;
    background-color: #83c0cf !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link{
    color: black;
    font-size: 2.3vh;
}

.navbar-brand{
    font-family: "montserrat", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 3vh !important;
    letter-spacing: 0.4rem;
}

#capT{
    background-image: url(/images/icons/T-future-light.svg);
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    padding: 2rem;
}

.dropdown-menu{
    background-color: #83c0cf;
}

.dropdown-item:hover{
    color: #2d6f80!important;
    background-color: #ccf5ff;
}

.modal-header, .discl-basic .modal-footer{
    background-color: #83c0cf;
}

.modal-footer .btn{
    background-color: transparent;
    border: none;
    color: black;
}

.modal-title{
    font-family: "montserrat", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5vh;
}

#hide-md-btn{
    color: #ccf5ff !important;
}

#hide-md-btn:hover{
    color: #fff !important;
}

/*ARTICLE CARDS*/
.card {
    border:none;
    background-color: white;
    height: 92vh;
}

.card-header {
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-bottom: none;
    height: auto;
}

.card-title {
    font-family: "montserrat", Arial, sans-serif;
    font-size: 18pt;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
}

.all-articles #article-long-title{
    font-size: 4vh;
    margin-top: 1rem;
}

.all-articles .larger:hover #article-long-title{
    font-size: 4.5vh;
}

.d-future{
    letter-spacing: 0rem;
}

/*EXPAND COLUMNS - READING MODE*/
body, 
.all-articles:hover .larger .card-header, 
.all-articles:hover .larger .card-body, 
.all-articles:hover .larger .subtitle,
.all-articles:hover .larger .infoButton,
.all-articles:hover .larger .accordion-item{
    background-color: #ccf5ff;
}

.all-articles .larger:hover .card-header, 
.all-articles .larger:hover .card-body,
.all-articles .larger:hover .accordion-item{
    background: white;
}

.all-articles .larger:hover .subtitle{
    background-color: #ccf5ff;
}

.all-articles .larger:hover .infoButton{
    background-color: #83c0cf;
}

.all-articles .larger:hover .accordion-body{
    background-color: rgb(242, 252, 255);
}

.all-articles:hover .larger {
    opacity: 0.2;
}

.all-articles .larger:hover {
    opacity: 1;
}
/*end reading mode specifics*/

.card-subtitle{
    font-weight: bold;
    background-color: #ccf5ff;
    margin-bottom: 1em;
    font-family: "montserrat", Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}

.infoButton{
    padding-top:0.1em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-family: "cousine", Courier, monospace;
    font-size: 10pt;
    font-weight: 700;
    opacity: 0.6;
    text-align: center;
}

.info{
    color: black;
    opacity: 0.7;
    font-family: "cousine", Courier, monospace;
    font-size: 9pt;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: bold;
    text-align: center;
}

.byline{
    padding: 0;
    margin: 0;
}

.sourceLine{
    padding: 0;
    margin: 0;
}

.card-body{
    font-family: "cousine", Courier, monospace;
    line-height: 16pt;
    font-size: 12pt;
    overflow-y: auto;
}

h4{
    font-weight: bold;
    color: #83c0cf;
}


/*ARTICLES IMAGES*/
.imgCaption{
    font-size: 9pt;
    font-style: italic;
}

img{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*METADATA VIEWER*/
.metad, #metadata-style {
    background-color: #ccf5ff;
}

#metadata-style .card-title{
    padding: 1.2em !important;
}

.accordion-header:not(.collapsed){
    border: white;
}

.accordion-flush .accordion-item:active{
    border-right-color: black;
}

.accordion-item{
    background-color: rgb(242, 252, 255);
    border:1px solid rgb(242, 252, 255);
}

.accordion-button:not(.collapsed){
    background-color: #83c0cf;
    color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:focus{
    border-color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button::after:active{
    color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

#metadata .nav-link{
    color: #83c0cf !important;
}

#metadata .nav-link:hover, #metadata .nav-link.active{
    color: white !important;
    background-color: #83c0cf !important;
}

#metadata .tab-content li:hover{
    color: #ffffff;
    background-color: #83c0cf !important;
}

#metadata .offcanvas-header{
    background-color: #83c0cf !important;
}

#metadata .offcanvas-body{
    padding: 0;
}

/*RESPONSIVE BUTTON*/
.navigation-responsive-button {
    position: fixed; 
    bottom: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(141, 206, 236); 
    color: rgb(0, 0, 0); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal{
    display: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(189, 189, 189);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(168, 168, 168);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*FAB*/
.fab-content, .fab-shadow, .sub-button, .fab{
    background-color: #a8ddeb !important;
}

.fab-container .fab::before {
    display: none;
}

.sub-button:hover{
    background-color: #c6e8ee !important;
}

.fab-container{
    bottom: 4vh;
    right: 4vh;
}

.fab-container:hover {
    height: 100%;
}

.fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-12vh);
}

.fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-22vh);
}

.fab-container:hover .sub-button:nth-child(4) {
    transform: translateY(-32vh);
}

.fab-container:hover .sub-button:nth-child(5) {
    transform: translateY(-42vh);
}

.fab-container .sub-button{
    height: 8vh;
    width: 8vh;
    right: 1vh;
    background-size: 6vh;
}

.fab-container .fab{
    height: 10vh;
    width: 10vh;   
}

.fab-content{
    background-size: 6vh;
}

.sub-button::content{
    background-size: 3vh !important;
}

/*IMAGES IN LARGER COLUMNS*/
.issue-female-body .all-articles:hover .larger img{
    height: 500px;
    width: auto;
}

.issue-female-body .all-articles:hover .larger .info{
    font-size: 2vh;
}

.issue-female-body .all-articles:hover .larger .imag{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    justify-content:center;
}


/* questo lo avevo fatto io per il comportamento responsive dei bottoni che compaiono */ 
@media only screen and (min-width: 992px) {
  .navigation-responsive-button {
      display: none;
  }
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 992px) {
  .card {
      height: 100vh;
  }
  #next-article-3, #prev-article-1, #prev-article-2 {
      display: none;
  }
  #next-article-2 {
      display: block;
  }
}

@media(min-width: 1400px){
  .card-header{
      min-height: 23vh;
  }
  .card-title{
      font-size: 4vh;
  }
  .col-lg-4 .card-title{
      font-size: 4.5vh;
  }
}

@media(min-width: 1200px) and (max-width: 1400px){
  .card-header{
      min-height: 18vh;
  }
  .issue-female-body .card-header{
    min-height: 25vh;
  }
  .navbar {
      height: 8vh;
  }
}

@media(min-width: 992px) and (max-width: 1200px){
  .card-header{
      min-height: 20vh;
  }
  .issue-female-body .card-header{
      min-height: 25vh;
  }
  .navbar {
      height: 8vh;
  }
}

@media(max-width: 992px){
  .card-title{
      font-size: 5vh;
  }
}