@import "styles/themes/components/fab.css";
@import "styles/themes/components/sizingNavbar.css";
@import "styles/documentation.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

@font-face {
    font-family: future;
    src: url("/styles/fonts/despairs-font/Despairs-X3Wxo.ttf");
}

@font-face {
    font-family: intro;
    src: url("/styles/fonts/rocket-wildness-font/Rocketwildness-7BB8R.ttf");
}

/*BODY*/
body{
    background-color: black;
    color: white;
    font-family: "Josefin Sans", monospace;
}

/*LINKS, SELECTION, CODE*/
::selection{
    background-color: rgb(51, 51, 51);
}

a{
    color:rgb(194, 194, 194);
}

a:hover{
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(255,255,255,0.7);
}

code{
    color: rgb(96, 109, 122);
    text-shadow: none;
}

/*NAVBAR*/
.navbar{
    background-color:black;
}

.navbar-brand{
    font-family: intro, monospace !important;
    color: #fff !important; 
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 3.5vh;
    text-transform: uppercase;
}

#capT{
    background-image: url(/images/icons/T-future-dark.svg);
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    padding: 2rem;  
}

.navbar-brand:hover{
    text-shadow: 1px 1px 3px rgba(255,255,255);
}

.nav-link{
    font-family: future, monospace;
    letter-spacing: 0.1em;
    color: #fff !important; 
    font-weight: bold;
}

.nav-link:hover{
    text-shadow: 1px 1px 3px rgba(255,255,255);
}

.dropdown-menu{
    background-color: black;
    border: 1px solid white;
    border-top:none;
    border-right: none;
}

.dropdown-item{
    background-color:rgb(0, 0, 0);
    color: rgb(211, 211, 211);
    font-family: "intro", monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.dropdown-item:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

/*INFO MODAL*/
.modal-dialog{
    max-width: 120vh;
    border: 1px solid white;
    font-family: "intro", monospace;
    color: white;
}

.modal-content{
    background-color: black;
}

.modal-content button{
    background-color: black;
}

.modal-content button:hover{
    background-color: rgb(46, 46, 46) !important;
}

.modal-body p{
    font-size: 2.2vh !important;
    text-align: left;
    padding: 0;
    color: white;
}

/*PAGE CONTENT*/
.about-content{
    padding: 2rem;
    text-align: center;
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    max-height: 15vh;
}

h2{
    font-family: "intro", monospace !important;
    font-size: 6vh;
}

.about-us{
    max-height: 78vh;
}

.about-us h3{
    margin-top: 2rem;
    font-family: "intro", monospace !important;
    font-size: 4vh;
}

.about-us p{
    padding: 2rem;
    font-size: 2.5vh;
    text-align: justify;
}

img{
    height: 40vh;
    margin: 1.5rem;
}

#edoardo{
    text-align: right;
    padding-right: 2rem;
}

#edoardo img{
    float: right;
}

#alessandra{
    text-align: left;
    padding-left: 2rem;
}

#alessandra img{ 
    float: left;
}

/*FAB*/
.fab-content, .fab-shadow, .sub-button, .fab{
    background-color: rgb(0, 0, 0)  !important;
}

.fab-container .fab::before {
    display: none;
}

.sub-button:hover{
    background-color: #272727 !important;
}

@media (max-width: 992px){
    #navbarNavDropdown{
        background-color: black;
    }
    .navbar-toggler{
        background-color: rgb(255,255,255,0.1);
    }
}