@import "styles/themes/components/fab.css";
@import "styles/themes/components/sizingNavbar.css";
@import "styles/documentation.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

@font-face {
    font-family: future;
    src: url("/styles/fonts/despairs-font/Despairs-X3Wxo.ttf");
}
@font-face {
    font-family: f1;
    src: url("/styles/fonts/josefin-sans/JosefinSans-Light.ttf");
}
@font-face {
    font-family: f1bold;
    src: url("/styles/fonts/josefin-sans/JosefinSans-SemiBold.ttf");
}
@font-face {
    font-family: intro;
    src: url("/styles/fonts/rocket-wildness-font/Rocketwildness-7BB8R.ttf");
}

body{
    background-color: white;
    color: black;
    font-family: "Josefin Sans", monospace;
}


/*LINKS, SELECTION, CODE*/
::selection{
    background-color: rgb(0, 0, 0);
    color: white;
}

a{
    color:rgb(73, 73, 73);
}

a:hover{
    color:rgb(181, 186, 192);
}

code{
    color: rgb(61, 61, 61);
    text-shadow: none;
}

/*NAVBAR*/
.navbar{
    background-color:white !important;
   
}

.navbar-brand{
    font-family: intro, monospace;
    color: black !important; 
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 3.5vh;
}

#capT{
    background-image: url(/images/icons/T-future-light.svg);
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    padding: 2rem;  
}

.navbar-brand:hover{
    color: rgb(153, 153, 153) !important;
}

.nav-link{
    font-family: future, monospace;
    letter-spacing: 0.1em;
    color: black !important; 
    font-weight: bold;
}

.nav-link:hover{
    color: rgb(153, 153, 153) !important;
}

.dropdown-menu{
    background-color: white;
}

.dropdown-item{
    background-color:white;
    color: black;
    font-family: intro, monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.dropdown-item:hover{
    color: white;
    background-color: black;
}


.modal-dialog{
    max-width: 120vh;
    border: 1px solid black;
    font-family: "intro", monospace;
    color: black;
}

.modal-content, .modal-content button{
    background-color: white;
}

.modal-content, button:hover{
    background-color: white !important;
}

.modal-body p{
    font-size: 2.2vh !important;
    text-align: left;
    padding: 0;
    color: black;
}

/*DOCUMENTATION*/
#menu-card .navbar-brand, #menu-card .nav-link{
    text-transform: uppercase;
}
#main-background{
    z-index: 1000;
}

#menu-card .navbar-brand{
    font-size: 4vh !important;
    padding-top: 2rem;
    letter-spacing: 0.1rem;
    width: inherit;
}
#menu-card .navbar{
    background-color: white !important;
}
#menu-card .nav-link{
    margin-right: 1rem;
    font-family: intro, monospace;
}
#main-background p{
    font-size: 2.5vh !important;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: 0.1rem;
}
h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family: intro, monospace;
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: transparent;
}
h3{
    font-size: 6vh;
}

h5{
    font-size: 3vh;
}
#info-btn{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2.5vh;
    opacity: 0.6;
}
#info-btn:hover{
    opacity: 1;
}

#info-disclaimer .modal-content{
    background-color: white;
}

.modal-footer .btn{
    background-color: white;
    border: none;
    text-transform: uppercase;
}

.btn-lmode{
    background-image: url(/images/Future/darkmode.png) !important;
    background-size: 10vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px !important;
    width: 100px !important;
    border: none;
    box-shadow: none !important;
    border-color: white!important;
    position: fixed !important;
    left: 30vh !important;
    bottom: 3vh !important;
}

.btn-lmode:hover{
    background-image: url(/images/Future/darkmode1.png) !important;
    background-size: 10vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    width: 10vh;
    box-shadow: none !important;
    border-color: white !important;
}

.btn-lmode:focus{
    box-shadow: none !important;
    border-color: white !important;
    background-color: white !important;
}

.btn-dmode{
    display: none;
}

#logo-docu{
    padding: 5vh;
    height: 12vh;
    background-image: url("/images/icons/T-future-light.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#metadata-docu{
    height: 500px;
    width: 500px;
    background-image: url("/images/Documentation/metadata-docu-futlight.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#large-docu{
    height: 500px;
    width: 800px;
    background-image: url("/images/Documentation/large-futurelight.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}


#fab-docu{
    height: 400px;
    width: 180px;
    background-image: url("/images/Documentation/fab-futlight.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: 20vh;
}


/*FAB*/
.fab-content, .fab-shadow, .sub-button, .fab{
    background-color: black  !important;
}

.fab-container .fab::before {
    display: none;
}


.sections li a{
    text-transform: uppercase;
    font-family: "intro", monospace;
}

.link-section h6{
    font-size: 4vh;
}

.link-section{
    text-decoration: none;
}