@import "/typetravel/styles/themes/components/dropdown.css";
@import "/typetravel/styles/themes/components/sizingNavbar.css";
@import "/typetravel/styles/themes/components/fab.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

@font-face {
    font-family: future;
    src: url("/typetravel/styles/fonts/despairs-font/Despairs-X3Wxo.ttf");
}

@font-face {
    font-family: f1bold;
    src: url("/typetravel/styles/fonts/josefin-sans/JosefinSans-SemiBold.ttf");
}

@font-face {
    font-family: intro;
    src: url("/typetravel/styles/fonts/rocket-wildness-font/Rocketwildness-7BB8R.ttf");
}

/*BODY*/
body{
    background-color: white;
    overflow: hidden;

}

/*LINKS, SELECTION, CODE*/
::selection{
    background-color: rgb(0, 0, 0);
    color: white;
}

a{
    color:rgb(73, 73, 73);
}

a:hover{
    color:rgb(181, 186, 192);
}

code{
    color: rgb(61, 61, 61);
    text-shadow: none;
}

.btn-lmode{
    background-image: url("/typetravel/images/Future/darkmode.png") !important;
    background-size: 10vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh !important;
    width: 10vh !important;
    border: none;
    box-shadow: none !important;
    border-color: white !important;
}

.btn-lmode:hover{
    background-image: url("/typetravel/images/Future/darkmode1.png") !important;
    background-size: 10vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    width: 10vh;
    box-shadow: none !important;
    border-color: white !important;

}

.btn-lmode:focus{
    box-shadow: none !important;
    border-color: white !important;
    background-color: white !important;
}

.btn-dmode{
    display: none;
}

/*NAVBAR*/
.navbar{
    background-color:white !important;
 
}

.navbar-brand{
    font-family: future, monospace !important;
    color: black !important; 
    font-weight: bold;
    letter-spacing: 0.2em;
}

.navbar-brand:hover{
    color: rgb(153, 153, 153) !important;
}

#capT{
    background-image: url("/typetravel/images/icons/T-future-light.svg");
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    padding: 2rem;  
}

.nav-link{
    font-family: future, monospace;
    letter-spacing: 0.1em;
    color: black !important; 
    font-weight: bold;
}

.nav-link:hover{
    color: rgb(153, 153, 153) !important;
}

.dropdown-menu{
    background-color: rgb(206, 206, 206);
}

.dropdown-item{
    color: rgb(0, 0, 0);
    font-family: intro, monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.dropdown-item:hover{
    background-color: white !important;
    color: black;
}

.modal-dialog{
    max-width: 120vh;
    border: 1px solid black;
    font-family: "intro", monospace;
    color: black;
    background-color: white;
}

.modal-content{
    background-color: white;
}

.modal-content button{
    background-color: white;
    color: black;
    border: none;
}

.modal-content button:hover{
    background-color: transparent !important;
    opacity: 0.6 !important;
    color: black;
}

.modal-body p{
    font-size: 2.2vh !important;
    text-align: left;
    padding: 0;
    color: black;
}
.modal-body{
    text-align: left;
    font-family: "intro", monospace;
}

/*CARDS*/
.card-title{
    font-family: intro, monospace;
    text-transform: uppercase;
    font-size: 4vh;
    line-height: 1;
    color: black;
    padding: 0.5rem !important;
    text-align: left;
    letter-spacing: 0.2vh;
    font-weight: bold;
    text-shadow: none;
}

.card-subtitle{
    font-size: 2.5vh;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.d-future{
    letter-spacing: -0.1em;
}

.card-header{
    background-color:white;
    min-height: 25vh !important;
    background-size: 120%;
    background-position: bottom;
    border: none;
}

.col-lg-4 .card-header{
    min-height: 18vh !important;
}

.card{
    background-position: top;
    background-size: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 92vh;
    word-wrap: break-word;
    background-clip: border-box;
    overflow: auto;
    border: transparent!important;
    border-radius: 0 !important;
    font-family: "Josefin Sans", monospace;
    font-size: 2.5vh;
    line-height: 1.25;
    letter-spacing: 0.1rem;
    color: black; 
    font-weight: 300; 
}

.card-body{
    background-position: bottom;
    background-color: white;
}

h4{
    color:black;
    font-family: "f1bold", monospace;
    text-transform: uppercase;
}

.infoButton{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.infoButton:not(.collapsed){
    background-color: white !important;
    color: black !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    
}

.infoButton:hover{
    color: rgb(153, 153, 153);
}

.info{
    text-shadow: none;
    font-size: 2vh;
    line-height: 1;
    letter-spacing: normal;
    color: rgb(0, 0, 0);  
}

.accordion-body{
    background-color: white;
    text-align: left;
}

.accordion-item{
    background-color: rgb(255, 255, 255);
}

.accordion-button{
    color:rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.accordion-button:hover{
    color: rgb(153, 153, 153);
}

/*SCROLLBAR*/
::-webkit-scrollbar{
    width:2vh;
    background-color: rgb(230, 230, 230);
    border: none;
}

::-webkit-scrollbar-thumb{
    background-color:rgb(255, 255, 255);
    border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background-color:rgb(0, 0, 0);
}
  
::-webkit-scrollbar:horizontal{
    display: none;
}

/*IMAGES*/
.imag{
    display:flex;
    align-items:center;
    justify-content:center;
    width:auto;
    overflow: hidden;
}

img{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:250px;
    height:250px;
    border-radius:50%;
    transition: ease-in-out .2s;
    z-index:2;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) !important;
}

img:hover{
    border-radius:0;
    width: auto;
    height: 250px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
    filter:unset !important;
}

img:before{
    width:100%;
}

.imgCaption{
    font-size: 10pt;
    color: black;
    text-align: justify;
}
.issue-female-body .all-articles:hover .larger img:hover{
    height: auto;
    width: 400px;
}

.issue-female-body .all-articles:hover .larger img:hover{
    height: auto !important;
    width: 400px;
}

/*METADATA*/
#metadata-style{
    text-align: center;
    background-position: bottom;
    background-color: white;
}

#metadata-style .card-title{
    padding: 1em !important;
    font-size: 24pt;
    text-align: center;
}

#metadata .offcanvas-header{
    background-color: white;
    color: black;
    font-family: "intro", "monospace";
}

.offcanvas-header h5{
    font-size: 4vh !important;
}

.accordion-button{
    background-color: rgb(255, 255, 255);
    border: none !important;
    font-family: "future", monospace;
}

.accordion-item{
    border: none !important;
}

.accordion-item:not(.collapsed){
    border: none !important;
}

.accordion-header [aria-expanded="true"]{
    color: rgb(0, 0, 0);
}

.accordion-button:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;

}

.accordion-button:not(.collapsed){
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

#metadata .tab-content li:hover{
    color: white;
    background-color: black !important;
}

/*FAB*/
.fab-content, .fab-shadow, .sub-button, .fab{
    background-color: black !important;
}
  
.fab-container .fab::before {
    display: none;
}
  
.sub-button:hover{
    background-color: #272727 !important;
}
  
.fab-container{
    bottom: 4vh;
    right: 4vh;
}
  
.fab-container:hover {
    height: 100%;
}
.fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-12vh);
}
.fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-22vh);
}
.fab-container:hover .sub-button:nth-child(4) {
    transform: translateY(-32vh);
}
.fab-container:hover .sub-button:nth-child(5) {
    transform: translateY(-42vh);
}
  
.fab-container .sub-button{
    height: 8vh;
    width: 8vh;
    right: 1vh;
    background-size: 6vh;
}
  
.fab-container .fab{
    height: 10vh;
    width: 10vh;   
}
  
.fab-content{
    background-size: 6vh;
}
  
.sub-button::content{
    background-size: 3vh !important;
}

/*EXPAND COLUMN - READING MODE*/

body, 
.all-articles:hover .larger .card-header, 
.all-articles:hover .larger .card-body, 
.all-articles:hover .larger .subtitle,
.all-articles:hover .larger .accordion-body,
.all-articles:hover .larger ::-webkit-scrollbar-track,
.all-articles:hover .larger .accordion-header{
    background-color: rgba(0, 0, 0, 0.8);
}

.all-articles:hover .larger .infoButton{
    background-color: unset !important;
}

.all-articles .larger:hover .card-header, 
.all-articles .larger:hover .card-body, 
.all-articles .larger:hover .accordion-body,
.all-articles .larger:hover ::-webkit-scrollbar-track,
.all-articles .larger:hover .accordion-item{
    background-color: white;
}
.all-articles .larger:hover ::-webkit-scrollbar-track{
    background-color: rgb(230, 230, 230);
}

.all-articles .larger:hover .infoButton{
    background-color: white !important;
}

.all-articles:hover .larger {
    opacity: 0.1;
}

.all-articles .larger:hover {
    opacity: 1;
}

@media (min-width: 1400px){
    .card-title{
        font-size: 26pt;
        line-height: 26pt;
    }

    .d-future{
        letter-spacing: 0px;
    }

    .accordion-button{
        font-size: 14pt;
    }

    .btn-lmode{
        height: 12vh;
        width: 12vh;
        background-size: 12vh;
        margin-top: 5vh;
    }
    .btn-lmode:hover{
        height: 12vh;
        width: 12vh;
        background-size: 12vh;
        
    }
}

@media(max-width: 992px){
    .card-title{
        font-size: 4.5vh !important;
    }
    .card-header{
        min-height: auto !important;
    }
    .all-articles .larger:hover .card-header{
        min-height: 18vh !important;
    }
    body, 
    .all-articles:hover .larger .card-header, 
    .all-articles:hover .larger .card-body, 
    .all-articles:hover .larger .subtitle,
    .all-articles:hover .larger .accordion-body,
    .all-articles:hover .larger ::-webkit-scrollbar-track,
    .all-articles:hover .larger .accordion-header{
    background-color: white;
}
}
  
@media only screen and (max-width: 992px) {
    .card {
        height: 100vh;
    }
    .navbar .navbar-toggler:first-of-type{
        background-color: black !important;
    }
    .navbar .navbar-toggler{
        color:black;
        font-family: "intro", "monospace";
    }

    #next-article-3, #prev-article-1, #prev-article-2 {
        display: none;
    }
    #next-article-2 {
        display: block;
    }
    #metadata-style .card-title{
        padding: 1em !important;
        font-size: 30pt;
    }
    .responsive-link-scroll{
        text-transform: uppercase;
        font-size: 2.5vh;
        padding: 1rem;
      }
      .info{
          line-height: 1.5rem;
      }
      .info a{
        text-decoration: none !important;
      }
}  
